<div class="wrapper">
  <div class="side_bar">
    <div class="side_top">
    </div>
    <div class="side_bottom">
      <%= render "side_bar" %>
    </div>
  </div>
  <div class="chat">
  <div class="chat_top"></div>
  <div class="chat_middle"><%= render "main_chat" %></div>
  <div class="chat_bottom"></div>
    
  </div>
</div>
